h1 {
	color: red;
}
#alpha {
	color: blue;
	font-family: serif;
}
ul {
	background-color: red;
	width: 200px;
	color: white;
	border-width: 40px;
	border-style: dotted;
	border-color: black;
}
#beta {
	color: green;
}
a:link {
	text-decoration: none;
	color: green;
}
a:visited {
	color: white;
}
#theta {
	font-family: courier;
}
.chi {
	font-family: georgia;
}